<div class="container mt-4 ">
  <div class="search" style="margin-left: 38%;">
    <span>
      <input type="text" placeholder="Search City" id="searchValue" (keyup)="searchCity($event)" style="padding-left: 7%;">
      <i class="bi bi-search" style="margin-left: -12%;"></i>
    </span>
  </div>

  <div class="card mt-3 pb-2">
    <div class="card-header text-center">
        <h3>
            Weather of {{allWeatherData?.city?.name}}

        </h3>
    </div>
    <div class="card-body" >
      <div class="row text-center">
        <div class="col-lg-12 d-flex">
          <div class="col-lg-4">
            <div class="card" style="width: 20rem;">
              <img src="../assets/weatherwithcold.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Temperature Info</h5>
                <div class="d-flex" style="display:flex ; justify-content: space-between;">
                    <p>Mimimum :{{convert(allWeatherData.list[0].main.temp_min)}}°C</p>
                    <p>Maximum :{{convert(allWeatherData.list[0].main.temp_max)}}°C</p>
                </div>
              </div>
            </div>
    
          </div>
    
          <div class="col-lg-4">
            <div class="card" style="width: 20rem;">
              <img src="../assets/weatherwithcold.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Humidity Info</h5>
                <div class="d-flex" style="display:flex ; justify-content: space-between;">
                  <p>Feels Like :{{allWeatherData.list[0].main.feels_like}}</p>
                  <p>Humidity :{{allWeatherData.list[0].main.humidity/100 | percent }}</p>
              </div>
              </div>
            </div>
    
          </div>
    
          <div class="col-lg-4">
            <div class="card" style="width: 20rem;">
              <img src="../assets/weatherwithcold.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Wind Info</h5>
                <div class="d-flex" style="display:flex ; justify-content: space-between;">
                  <p>Wind Speed :{{allWeatherData.list[0].wind.speed}}</p>
                  <p>Degree :{{allWeatherData.list[0].wind.deg}}</p>
                </div>
              </div>
            </div>
    
          </div>
    
        </div>
    
      </div>
    </div>
  </div>
  

  <div class="card mt-5">
    <div class="card-header text-center">
        <h3>
            Weather Report of {{allWeatherData?.city?.name}}

        </h3>
    </div>
    <div class="card-body w-100">
      <div class="table table-responsive">
        <table class="table table-success table-striped">
            <thead>
              <tr>
                <th>Data & Time</th>
                <th>City</th>
                <th>Temperature</th>
                <th>Max Temp</th>
                <th>Min Temp</th>
                <th>Humidity</th>
                <th>Description</th>
                <th>Wind Speed</th>
              </tr>
            </thead>
    
              <tr *ngFor="let data of allWeatherData.list">
                <td>{{data.dt_txt |date :'medium'}}</td>
                <td>{{allWeatherData.city.name}}</td>
                <td>{{convert(data.main.temp)}}°C</td>
                <td>{{convert(data.main.temp_max)}}°C</td>
                <td>{{convert(data.main.temp_min)}}°C</td>
                <td>{{data.main.humidity/100 | percent }}</td>
                <td>{{data.weather[0].description}}</td>
                <td>{{data.wind.speed}}</td>
              </tr>
        </table>
    
      </div>
    </div>
  </div>

  
 
</div>